PORT=5100
DATABASE_PATH=../../data/autouw.db
SERVICE_SECRET=dev-service-secret
APPLICANT_SERVICE_URL=http://127.0.0.1:4100
WORKER_SERVICE_URL=http://127.0.0.1:4101
UTILITY_SERVICE_URL=http://127.0.0.1:4103
